{%if INPUTFORMAT1 %}
{{tableName}}Tbl.{{toCALVarName(fieldName)}} := {{toJSONVarName(fieldName)}};
{%elif INPUTFORMAT2 %}
{{tableName}}Tbl.{{toCALVarName(fieldName)}} := {{jsonType}}Array[{{typeIndex}}];
{% endif %}