{% extends "parents/Destructure.j2" %}
{% block Destructure %}

{{tableName}}Tbl.RESET;
{% for fieldName in PrimaryKeys["Field Name"] %}
{{tableName}}Tbl.SETFILTER({{toCALVarName(fieldName)}}, {{toJSONVarName(fieldName)}}ID);
{% endfor %}

IF {{tableName}}Tbl.FINDFIRST THEN BEGIN
   {{tableName}}Tbl.DELETE;
   
   Result := ResponseFormat(200, '', '{{tableName}} was deleted successfully');

END ELSE  BEGIN
  Result :=  Empty{{tableName}}();
  Result := ResponseFormat(404, Result, 'Not Found.');
  END;


{% endblock %}